.maincontainer{
    position: relative;
   
    left: 5%;
    width: 100%;
}







.textcontainer{
    position: relative;;
    top: 35%;
    left: 10%;
    height: 650px;
    max-width:  382px;
    white-space: normal;
    overflow: hidden;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    
    
}

.socialcontainer{
    position: relative;
    top: 300px;
    height: 240px;
    left: 100%;
    top: 42%;
    transform: translate(-50%, 0%);
    width: 60px;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 7.5s forwards;
    
    
}
 


.facebookimg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.animations{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    width: 902px;
    height: 885px;
    position: relative;
    white-space: normal;
    right: 15%;
    overflow: hidden;
    top: 10%;
    opacity: 0;
    animation: Pop 0.1s ease-in-out 7.5s forwards;
}


@keyframes Pop{
    to{
        opacity: 1;
    }
}



/* _________________________________________________________________ */



.linkedinimg{
    width: 78px;
    height: 78px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: -13px;
}


.githubimg{
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    top: 180px
}


.facebookimg:hover{
 opacity: 0.8;

}

.githubimg:hover{
 opacity: 0.8;

}

.linkedinimg:hover{
 opacity: 0.3;

}

.Nametext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 33px;
    overflow: hidden;
    width: 382px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;
    /* outline: 2px solid red; */

    

}




.Nametext::before, 
.Nametext::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0; 
    bottom: 0;
    left: 0;
    box-sizing: content-box;
}

/* rgb(28, 29, 36); */

.Nametext::before{
    background-color: rgb(28, 29, 36);
    height: 40px;
    width: 383px;
    position: absolute;
    top: 35px;
    
    animation: typewriter 6s steps(19) 1s forwards;
    
}

.Nametext::after{
    width: 0.125em;
    background-color: white;
    height: 40px;
    position: absolute;
    top: 35px;
    animation: typewriter 6s steps(19, end) 1s forwards, blink 500ms steps(19) infinite;
}


@keyframes typewriter{
    to{ 
        left: 100%;
    }
}

@keyframes blink{
    to{
        background: transparent;
    }
}


.Positiontext{
 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    overflow: hidden;
    max-width: 400px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 7.5s forwards;
}


@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}


.brieftext{
    white-space: normal;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    max-width: 400px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease 7.5s forwards;

}
