.maincontainer{
    position: relative;
   
    left: 5%;
    width: 100%;
}







.textcontainer{
    position: relative;;
    top: 33%;
    left: 10%;
    height: 650px;
    width: 450px;
    white-space: normal;
    overflow: hidden;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    
}

.socialcontainer{
    position: relative;
    top: 300px;
    height: 240px;
    left: 100%;
    top: 42%;
    transform: translate(-50%, 0%);
    width: 60px;
}



.facebookimg{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.animations{
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    width: 902px;
    height: 885px;
    position: relative;
    white-space: normal;
    right: 15%;
    overflow: hidden;
}














/* _________________________________________________________________ */



.linkedinimg{
    width: 78px;
    height: 78px;
    cursor: pointer;
    position: absolute;
    top: 80px;
    left: -13px;
}


.githubimg{
    width: 55px;
    height: 55px;
    cursor: pointer;
    position: absolute;
    top: 180px
}


.facebookimg:hover{
 opacity: 0.8;

}

.githubimg:hover{
 opacity: 0.8;

}

.linkedinimg:hover{
 opacity: 0.3;

}

.Nametext{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    overflow: hidden;
    max-width: 400px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;

}

.Positiontext{
 
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    overflow: hidden;
    max-width: 400px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;
}


.brieftext{
    white-space: normal;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    max-width: 400px;
    border-left:1px solid transparent;
    border-right:1px solid transparent;
    text-overflow: ellipsis;

}
